
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
/*CHANE color and font later*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: purple;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: plum;
    padding: 40px 60px;
}

h2{
    font-size: 48px;
    color:#fff;
   
    letter-spacing: 1px;
}

.reset{
    padding: 15px 20px;
    color: purple;
    background: #fff;
    border:none;
    font-size: 1.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer ;
    font-weight: 600;
}

.reset:focus{
    background: purple;
    color:#fff;
}

.game{
width: 430px;
height: 430px;
display: flex;
flex-wrap: wrap;
gap: 10px;
transform-style: preserve-3d;
perspective: 500px;
}

.item  {
    position:relative; 
    width: 100px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    transform: rotateY(180deg);
    background-color: #fff;
    transition: 0.25s;
}

.item.boxOpen{
    transform: rotateY(0deg);
}


.item:after{
    content:'';
    position:absolute;
    inset:0;
    background: violet;
   
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after, 
.boxMatch:after{
    transform: rotateY(180deg);
}

